# общее
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
CORS_ORIGINS=*
FRONTEND_PORT=8081
HTTP_TIMEOUT_SECONDS=5
INTERNAL_SERVICE_TOKEN=change-internal-token

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_KEY_PREFIX=bingo

# auth-service
AUTH_SERVICE_NAME=auth-service
AUTH_SERVICE_URL=http://auth-service:8000
AUTH_DATABASE_URL=postgresql+asyncpg://postgres:postgres@auth-postgres:5432/bingo_auth
ACCESS_TOKEN_EXPIRE_MINUTES=60

AUTH_POSTGRES_DB=bingo_auth
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres

# user-service
USER_SERVICE_NAME=user-service
USER_WORKER_SERVICE_NAME=user-service-worker
USER_DATABASE_URL=postgresql+asyncpg://postgres:postgres@user-postgres:5432/bingo_users

USER_EVENTS_EXCHANGE=user.events
USER_REGISTERED_ROUTING_KEY=user.registered
USER_REGISTERED_QUEUE=user-service.user-registered

USER_POSTGRES_DB=bingo_users
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=postgres

# lobby-service
LOBBY_SERVICE_NAME=lobby-service
LOBBY_DATABASE_URL=postgresql+psycopg://postgres:postgres@lobby-postgres:5432/bingo_lobby
LOBBY_AUTO_CREATE_TABLES=true
LOBBY_GAME_ENGINE_SERVICE_URL=http://game-engine-service:8000

LOBBY_POSTGRES_DB=bingo_lobby
LOBBY_POSTGRES_USER=postgres
LOBBY_POSTGRES_PASSWORD=postgres

# card-service
CARD_SERVICE_NAME=card-service
CARD_SERVICE_PORT=8000
CARD_SERVICE_URL=http://card-service:8000

# game-engine-service
GAME_ENGINE_SERVICE_NAME=game-engine-service
GAME_ENGINE_SERVICE_PORT=8004
GAME_ENGINE_SERVICE_URL=http://game-engine-service:8000
DRAW_INTERVAL_SECONDS=5

# winner-service
WINNER_SERVICE_NAME=winner-service
WINNER_WORKER_SERVICE_NAME=winner-service-worker
WINNER_SERVICE_PORT=8006
WINNER_CLAIMS_EXCHANGE=winner.claims
WINNER_CLAIM_SUBMITTED_ROUTING_KEY=winner.claim.submitted
WINNER_CLAIMS_QUEUE=winner-service.claims
WINNER_REWARD_AMOUNT=100

USER_SERVICE_URL=http://user-service:8000
LOBBY_SERVICE_URL=http://lobby-service:8000
